body {
	margin: 0;
	padding: 0;
	background: #262626;
	font-family: Arial, sans-serif;
  }
  
  .loader h1 {
	text-transform: uppercase;
	font-size: 6em;
	color: black;
	background: linear-gradient(90deg, black 25%, white 50%, black 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 3s linear infinite;
	background-size: 200%;
	margin-left: 10px;
  }
  
  @keyframes animate {
	0% {
	  background-position: 0% 0%;
	}
	100% {
	  background-position: 100% 0%;
	}
  }
  
